[submodule "vendor/github.com/feedbin/feedbin"]
	path = vendor/github.com/feedbin/feedbin
	url = https://github.com/feedbin/feedbin.git
[submodule "vendor/github.com/feedbin/crawler"]
	path = vendor/github.com/feedbin/crawler
	url = https://github.com/feedbin/crawler.git
[submodule "vendor/github.com/feedbin/extract"]
	path = vendor/github.com/feedbin/extract
	url = https://github.com/feedbin/extract.git
[submodule "vendor/github.com/feedbin/privacy-please"]
	path = vendor/github.com/feedbin/privacy-please
	url = https://github.com/feedbin/privacy-please.git
