[Unit]
Description=Podman container-feedbin-extract.service
Documentation=man:podman-generate-systemd(1)
Wants=container-caddy.service
After=container-caddy.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
ExecStartPre=/bin/rm -f %t/container-feedbin-extract.pid %t/container-feedbin-extract.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/container-feedbin-extract.pid --cidfile %t/container-feedbin-extract.ctr-id --cgroups=no-conmon --replace -d --name feedbin-extract --net host --env-file /data/feedbin/.env --env PORT=3001 --workdir /opt/feedbin/extract localhost:5000/feedbin sh -c 'if test -n "$EXTRACT_USER" -a -n "$EXTRACT_SECRET"; then echo "$EXTRACT_SECRET" >"users/$EXTRACT_USER"; fi && exec "$@"' -- node app/server.js
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-feedbin-extract.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-feedbin-extract.ctr-id
PIDFile=%t/container-feedbin-extract.pid
KillMode=none
Type=forking

[Install]
WantedBy=multi-user.target
