[Unit]
Description=Podman container-feedbin-rails.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target container-caddy.service container-camo.service container-feedbin-extract.service container-feedbin-refresher.service container-feedbin-image.service container-feedbin.service container-memcached.service
After=network-online.target container-caddy.service container-camo.service container-feedbin-extract.service container-feedbin-refresher.service container-feedbin-image.service container-feedbin.service container-memcached.service
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run --cidfile=%t/%n.ctr-id --sdnotify=conmon --cgroups=no-conmon --rm -d --replace --name feedbin-rails --net host --volume /var/run/postgresql:/var/run/postgresql:rw --env-file /data/feedbin/.env --env RAILS_SERVE_STATIC_FILES=true localhost/feedbin:edge /bin/sh -c 'bundle exec rake assets:precompile && exec bundle exec rails server'
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
