[Unit]
Description=Podman container-feedbin-rake.service
Documentation=man:podman-generate-systemd(1)
Wants=container-elasticsearch.service container-postgres.service
After=container-elasticsearch.service container-postgres.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/podman run --rm --name feedbin-rake --net host --volume /var/run/postgresql:/var/run/postgresql:rw --env-file /data/feedbin/.env feedbin /bin/sh -c 'until pg_isready; do sleep 1; done && until curl -fsSo /dev/null --head "${ELASTICSEARCH_URL:-http://127.0.0.1:9200}"; do sleep 1; done && bundle exec rake db:migrate || bundle exec rake db:setup'
